<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:data.properties"/>

    <bean id="mBean"
        class="ru.treut.spr1.RMusic"
        init-method="inita"
        destroy-method="destro"
        factory-method="getRMusic" >
    </bean>

<!--    <bean id="player"-->
<!--          scope="prototype"-->
<!--          class="ru.treut.spr1.Player">-->
<!--        &lt;!&ndash;constructor-arg ref="mBean"/&ndash;&gt;-->
<!--        <property name="music" ref="mBean"/>-->

<!--        <property name="name" value="${player.name}"/>-->
<!--        <property name="volume" value="${player.volume}"/>-->
<!--    </bean>-->


</beans>