<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="mBean"
    class="ru.treut.spr1.RMusic">
    </bean>

    <bean id="player"
          class="ru.treut.spr1.Player">
        <!--constructor-arg ref="mBean"/-->
        <property name="music" ref="mBean"/>
    </bean>


</beans>